@charset "UTF-8";
/* comentario css*/
/*el header*/
.cabeza {
  background-color: #C53CA1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: top; }
  .cabeza:hover {
    background-image: url(/img/beasim.jpg);
    transform: rotate(3deg);
    transition-duration: 1.5s;
    transition-delay: .8s; }
  .cabeza h1 {
    height: 3.5rem;
    font-size: 32px;
    margin: 1px 0px 2rem 0px;
    color: black; }

/*terminó el header*/
/* empieza el menu*/
.menu {
  background-color: rgba(241, 241, 82, 0.752);
  flex-direction: row;
  overflow: hidden;
  padding: 1rem; }
  .menu .lista {
    list-style: none;
    display: block;
    width: auto;
    height: auto; }
    .menu .lista li a {
      text-decoration: none;
      color: #C53CA1; }
      .menu .lista li a:hover {
        background-color: #651e65; }

/*terminó el menu*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*grid estructura*/
.cabeza {
  grid-area: cabeza; }

.menu {
  grid-area: menu; }

.sidebar {
  grid-area: sidebar; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template: "cabeza"  100px "menu"   150px "sidebar" 150px "main"    auto "footer"  100px; }

@media (min-width: 600px) {
  .grid-container {
    grid-template: "cabeza cabeza" 100px "menu  menu"     150px "sidebar main"   auto "footer footer" 100px / 200px    auto; }
  .videoHomero {
    width: 140px;
    height: 400px;
    overflow: hidden; } }

@media (min-width: 900px) {
  .grid-container {
    grid-template: "cabeza cabeza cabeza"  100px "menu   main   sidebar" auto "footer  footer footer"  100px / 200px    auto   200px; } }

/* vamos con el main*/
main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #C53CA1; }
  main .videoLobo1 {
    padding: 3rem; }
  main span {
    padding: 3rem; }
  main form fieldset .botonForm select:hover {
    box-shadow: inset 0 0 20px rgba(222, 24, 216, 0.866), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; }
  main form fieldset input:hover {
    box-shadow: inset 0 0 20px rgba(222, 24, 216, 0.866), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; }
  main h2 {
    padding: 2rem; }
    main h2:hover {
      color: #090909 !important;
      box-shadow: 0 4px 16px #ac318d;
      transition: all 0.2s ease; }
  main h3 {
    padding: 2rem; }
    main h3:hover {
      color: #090909 !important;
      box-shadow: 0 4px 16px #ac318d;
      transition: all 0.2s ease; }
  main .imgsHomero {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    main .imgsHomero img {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      width: 350px;
      height: 350px; }
  main .padreImgs {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly; }
    main .padreImgs div {
      margin: 10px;
      border-top-left-radius: 50%;
      border-top-right-radius: 25%; }
      main .padreImgs div img {
        width: 12rem;
        height: 140px;
        margin: 25px;
        padding: 2px;
        border: 5px black solid;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%; }
        main .padreImgs div img:hover {
          color: #090909 !important;
          box-shadow: 0 4px 16px #ac318d;
          transition: all 0.2s ease; }
        main .padreImgs div img:hover {
          transform: scale(1.5); }
  main .img2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 380px;
    padding: 32px; }
  main .capiFoto {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.30s; }
    main .capiFoto:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    main .capiFoto .imgCapi {
      width: 330px;
      height: 220px; }
    main .capiFoto h4 {
      font-weight: 600; }
    main .capiFoto p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }

aside {
  background-color: rgba(241, 241, 82, 0.752); }

/*termina main*/
/* empieza el footer*/
.footer {
  background-color: #C53CA1;
  display: flex;
  justify-content: space-evenly; }
  .footer:hover {
    background-image: url(/img/beasim3.jpg);
    transform: rotate(2deg);
    transition-duration: 1.5s;
    transition-delay: 0.8s; }
  .footer img:hover {
    color: #090909 !important;
    box-shadow: 0 4px 16px #ac318d;
    transition: all 0.2s ease; }
  .footer img:hover {
    background-color: aliceblue;
    transform: scale(1.5); }

.grid-container > * {
  color: #C53CA1;
  text-align: center; }

@font-face {
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf); }

body {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 100%;
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf);
  font-size: 1.3rem;
  background-color: rgba(1, 1, 1, 0); }

/*BOOTSTRAP*/
/*REMERAS DE BART BOOTSTRAP*/
.container-fluid header {
  margin: 13px; }
  .container-fluid header:hover {
    transform: rotate(2deg);
    transition-duration: 1.5s;
    transition-delay: 0.1s;
    background-image: url(/img/beasim.jpg); }
  .container-fluid header h1 {
    color: #C53CA1; }

.container-fluid nav {
  margin: 13px; }
  .container-fluid nav .navbar-brand {
    color: #C53CA1; }
    .container-fluid nav .navbar-brand:hover {
      transform: scale(1.1);
      background-color: #d49fdefd; }
  .container-fluid nav .nav-link:hover {
    transform: scale(1.1);
    background-color: #9c19828a; }

.container-fluid .row .col-6 {
  padding: 15px; }
  .container-fluid .row .col-6 img {
    width: 450px; }

.container-fluid .naranja {
  margin: 32px;
  font-size: 32px;
  color: #f1ed0e;
  padding: 32px; }

.container-fluid .container {
  padding: 32px;
  color: #C53CA1; }
  .container-fluid .container .col-2 {
    margin: 20px;
    padding: 1rem;
    background-color: azure; }
    .container-fluid .container .col-2 .card-body {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px black; }
    .container-fluid .container .col-2 .card-img-top:hover {
      transform: translateY(-40px);
      box-shadow: 0 12px 16px #000007; }

.pie-boots {
  display: flex;
  justify-content: space-evenly; }
  .pie-boots:hover {
    background-image: url(/img/beasim3.jpg);
    transform: rotate(2deg);
    transition-duration: 1.5s;
    transition-delay: 0.8s; }
  .pie-boots img:hover {
    color: #090909 !important;
    box-shadow: 0 4px 16px #ac318d;
    transition: all 0.2s ease; }
  .pie-boots img:hover {
    background-color: aliceblue;
    transform: scale(1.5); }
