/* comentario css*/
//comentario en sass
@import "utilities/variables";
@import "layaout/heaynav";
@import "layaout/reset";
@import "layaout/gridQer";
@import "layaout/maiyasi";

.grid-container > * {
  color: $color-letra;
  box-shadow: -1px 1px 7px 0px rgba(255, 250, 250, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

@font-face {
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf);
}
body {
  min-height: 100%;
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf);
  font-size: 1.3rem;
  background-color:rgb(1, 1, 1);
}