/* comentario css*/
//comentario en sass

header{
    header {
        display: flex;
        justify-content:space-between ;
        color: red;
        font-size: large; 
        background-image:(1,3,5);
      
      }
      }