//grid estructura
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-container > * {
  text-align: center;
}

.cabeza {
    grid-area: cabeza;
  }
  .menu {
    grid-area: menu;
  }
  .sidebar {
    grid-area: sidebar; 
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "cabeza"  100px
      "menu"   150px
      "sidebar" 100px
      "main"   auto
      "footer"  100px;
  }
 
@media (min-width: 650px) {
  .grid-container {
    grid-template:
      "cabeza cabeza" 100px
      "menu  menu"     150px
      "main  main"   auto
      "sidebar" 100px
      "footer footer" 100px /
      200px    auto;
  }
  .videoHomero{
    @include long (140px,350px);
    overflow: hidden;}
    
}

 @media (min-width: 750px) {
  .grid-container {
    grid-template:
      "cabeza cabeza cabeza"  100px
      "menu   main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}

